body {
    margin: 0px;
    padding: 0px;
}

.demo-carousel {
    height: 200px;
    line-height: 200px;
    text-align: center;
}

.right {
    float: right;
}

.left {
    float: left;
}
.layui-form-item .layui-input-inline {
    width: 400px;
}
.layui-form-label {
    width: 82px;
}